{
	"transitionWeights": {
		"CreateTopic": 2,
		"FundTopic": 8,
		"RegisterWorker": 4,
		"RegisterReputer": 4,
		"StakeAsReputer": 6,
		"DelegateStake": 6,
		"CollectDelegatorRewards": 6,
		"DoInferenceAndReputation": 20,
		"UnregisterWorker": 4,
		"UnregisterReputer": 4,
		"UnstakeAsReputer": 6,
		"UndelegateStake": 6,
		"CancelStakeRemoval": 0,
		"CancelDelegateStakeRemoval": 0,
		"AddToAdminWhitelist": 0,
		"RemoveFromAdminWhitelist": 0,
		"AddToGlobalWhitelist": 0,
		"RemoveFromGlobalWhitelist": 0,
		"AddToTopicCreatorWhitelist": 0,
		"RemoveFromTopicCreatorWhitelist": 0,
		"EnableTopicWorkerWhitelist": 1,
		"DisableTopicWorkerWhitelist": 1,
		"EnableTopicReputerWhitelist": 1,
		"DisableTopicReputerWhitelist": 1,
		"AddToTopicWorkerWhitelist": 5,
		"RemoveFromTopicWorkerWhitelist": 5,
		"AddToTopicReputerWhitelist": 5,
		"RemoveFromTopicReputerWhitelist": 5
	},
	"seed": 0,
	"rpcMode": "SingleRpc",
	"rpcUrls": [
		"http://localhost:26657"
	],
	"maxIterations": 0,
	"mode": "alternate",
	"alternateWeight": 20,
	"numActors": 12,
	"epochLength": 12
}